[user]
	email = eduardo@sanchez.nu
	name = Eduardo Sanchez
[core]
	editor = vim
[color]
	ui = true
# ~/.gitconfig
#
# convert *.docx to markdown using pandoc

[diff "pandoc"]
	textconv=pandoc --to=markdown
	prompt = false
[alias]
	wdiff = diff --word-diff=color --unified=1
