[user]
	email = e@eduardosanchez.me
	name = Eduardo Sanchez
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
[color]
	ui = true
[diff "pandoc"]
	textconv=pandoc --to=markdown
	prompt = false
[alias]
	wdiff = diff --word-diff=color --unified=1
	s = "status -s"
	lg = "log --oneline --all --graph --decorate"
[diff]
	ui = auto
[push]
	default = simple
